*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
<<<<<<< HEAD:static/middle.css
  background: url("./images/background.svg");
  /* color: white; */
=======
  background: url("../images/background.svg");
  color: white;
>>>>>>> aa998cef5735c7a9b7b7a93ae6878a431eb98974:static/css/middle.css
}

button {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}

button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 10px;
}

.test-cases {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.test-cases th,
.test-cases td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.test-cases th {
  background-color: #f2f2f2;
}

.test-cases tr:nth-child(even) {
  background-color: #f2f2f2;
}

#success-title {
  color: green;
}

#failure-title {
  color: red;
}
