*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: url("./images/background.svg");
    color: white;
    /* border: 1px solid red; */
}

#main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#company-names {
    font-family: "Permanent Marker", cursive;
    font-size: 4rem;
    padding-bottom: 1rem;
}

#hackaton {
    font-family: "Permanent Marker", cursive;
    padding-bottom: 4rem;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* font-family: "Permanent Marker", cursive; */
}

#user_input {
    width: 30rem;
    height: 10rem;
    border-radius: 10px;
    resize: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#user_input::placeholder {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: "Permanent Marker", cursive; */
    /* color: black; */
}

/* .permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  } */
  
  button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }