<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>42 x Axians Hackaton</title>
    <link rel="stylesheet" href="../static/css/home.css" />
    <link
      rel="shortcut icon"
      href="../static/images/depositphotos_647091904-stock-illustration-chat-bot-vector-icon-illustration.jpeg"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="main">
      <h1 id="company-names">Axians QA Assistant</h1> 
      <form action="/response" method="post" id="form">
        <label for="user_input" id="label">User Story</label><br />
        <textarea
          type="text"
          id="user_input"
          name="user_input"
          placeholder="Insert a user story..."
        ></textarea
        ><br />
        <button> Request Tests </button>
      </form>
    </div>
    <footer id="footer"><p>Powered by 42 Lisboa Hackaton</p></footer>
  </body>
</html>
