<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Axians QA Assistant</title>
    <link rel="stylesheet" href="../static/css/home.css" />
    <link
      rel="shortcut icon"
      href="../static/images/depositphotos_647091904-stock-illustration-chat-bot-vector-icon-illustration.jpeg"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="main">
      <h1 id="company-names">Axians QA Assistant</h1>
      <form action="/response" method="post" id="form">
        <label for="user_input" id="label">User Story</label><br />
        <textarea
          type="text"
          id="user_input"
          name="user_input"
          placeholder="Insert a user story..."
        ></textarea
        ><br />
        <button class="button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
            ></path>
          </svg>

          <div class="text">Request Test Cases</div>
        </button>
      </form>
      <div
        id="reloadDiv"
        aria-label="Orange and tan hamster running in a metal wheel"
        role="img"
        class="wheel-and-hamster hidden"
      >
        <div class="wheel"></div>
        <div class="hamster">
          <div class="hamster__body">
            <div class="hamster__head">
              <div class="hamster__ear"></div>
              <div class="hamster__eye"></div>
              <div class="hamster__nose"></div>
            </div>
            <div class="hamster__limb hamster__limb--fr"></div>
            <div class="hamster__limb hamster__limb--fl"></div>
            <div class="hamster__limb hamster__limb--br"></div>
            <div class="hamster__limb hamster__limb--bl"></div>
            <div class="hamster__tail"></div>
          </div>
        </div>
        <div class="spoke"></div>
      </div>
    </div>
    <footer id="footer"><p>Powered by 42 Lisboa Hackaton</p></footer>
    <script src="../static/js/home.js"></script>
  </body>
</html>
