<!--
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>42 x Axians Hackaton</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="../static/images/depositphotos_647091904-stock-illustration-chat-bot-vector-icon-illustration.jpeg"
      type="image/x-icon"
    />
  </head>
  <body>
    <div style="white-space: pre-wrap">{{ response }}</div>
    <form action="/testCases" method="POST">
      <h2>Do you accept this test cases?</h2>
      <button>Accept</button>
      <button>Decline</button>
    </form>
  </body>
</html>
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Cases</title>
    <link rel="stylesheet" href="../static/middle.css" />
  </head>
  <body>
    <div class="container">
      <h2 id="success-title">Success Test Cases</h2>
      <table class="test-cases">
        {% for test_case in responsep %}
        <tr>
          <th>Test Case</th>
          <th>Steps</th>
          {% endfor %}
          <!-- <tr>
          <th>Test Case</th>
          <th>Steps</th>
        </tr>
        <tr>
          <td>REQ-UCC08-010 Specify language</td>
          <td>
            <ul>
              <li>
                Select English from the language list and confirm the selection
                is saved.
              </li>
              <li>
                Select French from the language list and confirm the selection
                is saved.
              </li>
              <li>
                Select German from the language list and confirm the selection
                is saved.
              </li>
            </ul>
          </td>
        </tr> -->
          <!-- More rows for Success Test Cases -->
        </tr>
      </table>

      <h2 id="failure-title">Failure Test Cases</h2>
      <table class="test-cases">
        <tr>
          <th>Test Case</th>
          <th>Steps</th>
        </tr>
        <tr>
          <td>REQ-UCC08-010 Specify language</td>
          <td>
            <ul>
              <li>
                Attempt to select a language not in the 23 EU official languages
                list and confirm the selection is not accepted.
              </li>
              <li>
                Try to proceed without selecting a language and confirm the
                system prompts for a language selection.
              </li>
            </ul>
          </td>
        </tr>
        <!-- More rows for Failure Test Cases -->
      </table>
    </div>
  </body>
</html>
