<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Cases</title>
    <link rel="stylesheet" href="../static/css/middle.css" />
  </head>
  <body>
    <div class="container">
      <h2 id="success-title">Success Test Cases</h2>
      <table class="test-cases">
        <tr>
          <th>Requirements</th>
          <th>Tests</th>
        </tr>
        {% for req_id, test_case in responsep.successT.items() %}
        <tr>
          <td>{{ test_case.requirname }}</td>
          <td>
            <ul>
              {% for test in test_case.tests %}
              <li>{{ test }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endfor %}
      </table>

      <h2 id="failure-title">Failure Test Cases</h2>
      <table class="test-cases">
        <tr>
          <th>Requirements</th>
          <th>Tests</th>
        </tr>
        {% for req_id, test_case in responsep.failureT.items() %}
        <tr>
          <td>{{ test_case.requirname }}</td>
          <td>
            <ul>
              {% for test in test_case.tests %}
              <li>{{ test }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endfor %}
      </table>
      <form>
        <button class="button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
            ></path>
          </svg>

          <div class="text">Accept Test Cases</div>
        </button>
        <button class="button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
            ></path>
          </svg>

          <div class="text">Remake Test Cases</div>
        </button>
        <button class="button-exit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
            ></path>
          </svg>

          <div class="text">Go Back to Homepage</div>
        </button>
      </form>
    </div>
    <footer id="footer"><p>Powered by 42 Lisboa Hackaton</p></footer>
    <script src="../static/js/middleJs.js"></script>
  </body>
</html>
